Repository rsksmart/devportal, pull requests merged in 2020-12, with the labels that each got.

#472 RIF Id git approach
  rif/identity/about.md
  rif/identity/assets/img/feature-branches.png
  rif/identity/assets/img/main-branches.png
  rif/identity/assets/img/release-branches.png
  rif/identity/contribute.md
  rif/identity/index.md
  rif/identity/references.md
Labels: rif-identity

#474 Update README.md
  README.md
Labels: bug, documentation

#473 Added RIF Identity DV docs
  rif/identity/data-vault/cpinner/architecture.md
  rif/identity/data-vault/cpinner/cpinner-client.md
  rif/identity/data-vault/cpinner/cpinner-provider.md
  rif/identity/data-vault/cpinner/cpinner-service.md
  rif/identity/data-vault/cpinner/index.md
  rif/identity/data-vault/index.md
  rif/identity/index.md
Labels: rif-identity

#481 Add RIF Identity MVP docs
  rif/identity/index.md
  rif/identity/mvp/acknowledgements.md
  rif/identity/mvp/applications/holder-app.md
  rif/identity/mvp/applications/index.md
  rif/identity/mvp/applications/issuer-app.md
  rif/identity/mvp/applications/verifier-app.md
  rif/identity/mvp/architecture.md
  rif/identity/mvp/assets/img/06_mvp_application.png
  rif/identity/mvp/assets/img/architecture.png
  rif/identity/mvp/assets/img/libraries.png
  rif/identity/mvp/assets/img/services.png
  rif/identity/mvp/index.md
  rif/identity/mvp/learnings.md
  rif/identity/mvp/run.md
  rif/identity/mvp/services/convey-service.md
  rif/identity/mvp/services/data-vault.md
  rif/identity/mvp/services/index.md
  rif/identity/mvp/services/issuer-service.md
Labels: rif-identity

#484 Max storage feature
  rif/identity/data-vault/architecture/client.md
  rif/identity/data-vault/architecture/provider.md
  rif/identity/data-vault/architecture/service.md
Labels: rif-identity

#489 Disable WIP links
  rif/identity/index.md
  rif/identity/libraries/core.md
  rif/identity/libraries/daf.md
  rif/identity/libraries/ethr-did-utils.md
  rif/identity/libraries/ethr-did.md
  rif/identity/libraries/mnemonics.md
  rif/identity/libraries/node-utils.md
  rif/identity/libraries/rsk-ethr-did.md
Labels: rif-identity

#467 Feat: Update Wallets Page to include recently added wallets
  _includes/nav-page-menu.html
  assets/img/rsk/wallets/MathWallet_Logo_Vertical_Black.png
  assets/img/rsk/wallets/beexo_wallet.png
  assets/img/rsk/wallets/defiant-logo.png
  assets/img/rsk/wallets/jaxx.svg
  wallet/use/index.md
  wallet/use/jaxx.md
Labels: do NOT merge

#466 Feat: Added Math Wallet Solution
  _includes/nav-page-menu.html
  assets/img/solutions/MathWallet/Diagram-MathWallet.png
  assets/img/solutions/MathWallet/MathWallet_Logo_Black.png
  solutions/index.md
  solutions/math-wallet.md
  wallet/use/index.md
Labels: do NOT merge

#493 Add encryption related docs
  rif/identity/data-vault/architecture/client.md
Labels: rif-identity

#495 Update README.md
  README.md
Labels: documentation
