Repository rsksmart/devportal, pull requests merged in 2020-01, with the labels that each got.

#96 RNS new pages
  rif/rns/architecture/rsk-registrar/other/nameprice.md
  rif/rns/architecture/rsk-registrar/registrars/fifs.md
  rif/rns/architecture/rsk-registrar/renewers/renewer.md
  rif/rns/architecture/rsk-registrar/rskowner.md
  rif/rns/index.md
  rif/rns/integrate/domain-keys-management.md
  rif/rns/integrate/domain-registration.md
  rif/rns/integrate/index.md
  rif/rns/integrate/multichain-address-resolution.md
  rif/rns/integrate/reverse-resolution.md
  rif/rns/integrate/rsk-address-resolution.md
  rif/rns/mainnet.md
  rif/rns/specs/resolvers/chain-addr-resolver.md
  rif/rns/specs/resolvers/index.md
  rif/rns/testnet.md
Labels: rns

#100 fix: broken links sweep
  _includes/nav-page-menu.html
  _rsk/node/configure/index.md
  _rsk/node/configure/reference.md
  _rsk/node/configure/verbosity.md
  _rsk/node/contribute/cli.md
  _rsk/node/install/azure.md
  _rsk/node/troubleshooting.md
  develop/apps/tools/explorer/index.md
  rif/communication/architecture.md
  rif/communication/index.md
  rif/index.md
  rif/rns/architecture/MultiCryptoResolver.md
  rif/rns/architecture/NameResolver.md
  rif/rns/architecture/RSKResolver.md
  rif/rns/architecture/Registrar.md
  rif/rns/architecture/Resolver.md
  rif/rns/architecture/ReverseRegistrar.md
  rif/rns/architecture/registry.md
  rif/rns/architecture/rsk-registrar/registrars/fifs.md
  rif/rns/testnet.md
  rif/rns/tools/MyCrypto.md
  rif/rns/tools/Web3.md
  rif/storage/architecture.md
  rif/storage/providers/swarm/guides/backup/on-ganache.md
  rif/storage/providers/swarm/guides/local-network-incentives.md
  tools/explorer/index.md
Labels: help wanted

#116 docs: updated lumino-js samples folder link
  rif/lumino/libraries/lumino-js.md
Labels: do NOT merge

#128 Update testnet.md
  rif/rns/testnet.md
Labels: rns
