Repository rsksmart/devportal, pull requests merged in 2021-07, with the labels that each got.

#673 Fix multisig workflow img
  assets/img/rif-multisig/workflow.png
Labels: rif-multisig

#679 Add RIF Scheduler to navbar
  _includes/nav-page-menu.html
  rif/scheduler/index.md
Labels: rif-scheduler

#680 Release RIF Multisig
  _includes/nav-page-menu.html
  rif/multisig/architecture/index.md
  rif/multisig/contracts.md
  rif/multisig/index.md
  rif/multisig/project.md
  rif/multisig/sample-app.md
  rif/multisig/transaction-service.md
Labels: rif-multisig

#689 Update integrations.md
  rif/identity/rlogin/integrations.md
Labels: user-services

#687 Rif multisig switch and code snippet UI
  assets/css/styles.css
  assets/css/styles_dark.css
  assets/img/rif-multisig/packages.png
  assets/js/main.js
  rif/multisig/sdk/creation.md
  rif/multisig/sdk/erc20/erc20_transactions.md
  rif/multisig/sdk/erc20/index.md
  rif/multisig/sdk/erc20/receive_erc20.md
  rif/multisig/sdk/erc721/erc721_transactions.md
  rif/multisig/sdk/erc721/index.md
  rif/multisig/sdk/erc721/receive_erc721.md
  rif/multisig/sdk/index.md
  rif/multisig/sdk/listing.md
  rif/multisig/sdk/policies.md
  rif/multisig/sdk/rbtc/index.md
  rif/multisig/sdk/rbtc/rbtc_transactions.md
  rif/multisig/sdk/rbtc/receive_rbtc.md
  rif/multisig/sdk/receiving.md
  rif/multisig/sdk/rejecting.md
  rif/multisig/sdk/transaction_confirmation.md
Labels: rif-multisig
